/****************************/
/* datepicker specific css  */
/****************************/

.datepickerGroup {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    max-height: 75px;
}

input {
    color: #424242;
    font-size: 1.2em;
    margin: 0rem 1rem 1rem 1rem;
    display: block;
    border: 2px solid #607D8B;
    transition: all 0.3s ease;
}

input:focus {
    border: 2px solid #80ff80;;
    border-radius: 4px;
}

.refreshDate:focus{
    border: 2px solid #607D8B;
    border-radius: 0px;
}

label.input-label {
    color: rgba(128, 128, 128, 0.75);
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

input:focus ~ label.input-label {
    color: #80ff80;
}

input[readonly] ~ label.input-label {
    font-size: 1.5rem;
}

.bar {
    clear:both;
    position: relative;
    display: block;
    width: 315px;
}

.bar:before,
.bar:after {
    background: #80ff80;
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}
