* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

header {
    grid-area: header;
    background-color: rgba(128, 128, 128, 0.75);
}

footer {
    grid-area: footer;
    background-color: rgba(128, 128, 128, 0.75);
}

#teaser {
    display: flex;
    position: relative;
    grid-area: teaser;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#kpi {
    display: flex;
    grid-area: kpi;
    justify-content: space-evenly;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
}

#trend {
    display: grid;
    grid-area: trend;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#config {
    grid-area: config;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 2px 2px;
}

#kpi > div, #config > div {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.highcharts-title {
    display: flex;
    color: #80ff80;
    align-items: center;
    justify-content: center;
}

.highcharts-credits, .highcharts-background, #trend .highcharts-title{
    display: none;
}

.highcharts-legend-item {
    padding: 2rem;
}

/*.highcharts-container {
    width: 100%;
}
.highcharts-container svg {
    width: 100%;
    display: flex;
}*/
