* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

header {
    grid-area: header;
    background-color: rgba(128, 128, 128, 0.75);
}

footer {
    grid-area: footer;
    background-color: rgba(128, 128, 128, 0.75);
}

#teaser {
    display: flex;
    grid-area: teaser;
    align-items: center;
    justify-content: center;
}

#kpi {
    display: flex;
    grid-area: kpi;
}

#trend {
    display: grid;
    grid-area: trend;
    align-items: center;
    justify-content: center;
}

#config {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 2px 2px;
}

#kpi > div, #config > div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.highcharts-credits, .highcharts-background, .highcharts-title {
    display: none;
}