<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI Dashboard</title>
    <link rel="stylesheet" href="../views/styles.css"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

</head>

<body>
    <header>HEADER</header>
    <div id="config1"></div>
    <div id="teaser">
        <div id="oee"></div>
    </div>
    <div id="kpi">
        <div id="ava"></div>
        <div id="eff"></div>
        <div id="qua"></div>
    </div>
    <div id="trend"></div>
    <div id="config2"></div>
    <footer>FOOTER</footer>
</body>
<script src="../views/charts.js"></script>

</html>