<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI Dashboard</title>
    <link rel="stylesheet" href="../views/styles.css"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

</head>

<body>
    <header>HEADER</header>
    <div id="teaser">
        <div id="oee">OEE: {{oee}}</div>
    </div>
    <div id="kpi">
        <div id="ava">AVA: {{ava}}</div>
        <div id="eff">EFF: {{eff}}</div>
        <div id="qua">QUA: {{qua}}</div>
    </div>
    <div id="config">CONFIG</div>
    <div id="trend">TREND</div>
    <footer>FOOTER</footer>
</body>
<script src="../views/charts.js"></script>

</html>